<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>okokPhone Custom App Template By Luxu</title>
    <script defer src="./assets/dev.js"></script>
    <script defer src="./assets/utils.js"></script>
    <script src="./assets/script.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./assets/style.css" />
  </head>
  <body style="visibility: hidden">
    <div id="app-container">
      <!-- Edit you app 👇 -->
      <main
        class="w-full h-full bg-red-500 flex flex-col items-center justify-center gap-4">
        <h1 class="text-4xl font-semibold">My app</h1>
        <button
          class="text-3xl font-semibold bg-blue-500 text-black px-4 py-2 rounded-lg"
          onclick="jump()">
          Notify
        </button>
      </main>
      <!-- Edit your app 👆 -->
    </div>
  </body>
</html>
